@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {
    position: relative;
    background-color: #d5d9e2;
    font-family: 'Inter', sans-serif;
    overflow: visible;

    .Container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: #ffffff;

        .innerContainer {
            padding: 2%;

            @media screen and (min-width:1440px) {
                width: 30%;
            }

            @media screen and (min-width:1024px) {
                width: 40%;
            }


            @media screen and (min-width:768px) {
                width: 60%;
            }
        }

        input:focus {
            outline: none;
        }

        input {
            padding: 12px;
            width: 100%;
            border: 1px solid rgb(168, 165, 165);
            border-radius: 5px;
        }

        .ProgressContainer {
            position: relative;

            .Progress {
                padding: 5px;
                width: 8%;
                border: 1px solid;
                border-color: gray;
                background-color: white;
                border-radius: 50%;
                z-index: 5;
            }

            .ProgressBar1 {
                position: absolute;
                width: 60%;
                height: 1px;
                background-color: gray;
            }

            .ProgressBar2 {
                position: absolute;
                left: 20%;
                height: 1px;
                background-color: #664DE4;
                z-index: 1;
            }
        }

        .WURL {
            border: 1px solid rgb(168, 165, 165);
            border-radius: 5px;

            input {
                border: none;
            }
        }

        .WorkSpaceOtion {
            border: 1px solid gray;

            .WorkspaceIcon {
                fill: rgb(112, 112, 112);
            }

            &:hover {
                border: 1px solid #664DE4;

                .WorkspaceIcon {
                    fill: #664DE4;
                }
            }
        }
    }
}